* {
	box-sizing: border-box;
	color: #222;
}

body {
	margin: 0px;
	min-height: 300px;
}

#popup-container {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #0008;
}

#popup-wrapper {
	padding: 20px;
	min-height: 100px;
	max-height: 400px;
	width: 300px;
	background-color: #fff;
	border-radius: 10px;
}

#popup-title {
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	text-align: left;
}

#popup-content {
	padding: 7px 5px;
	max-height: 300px;
	overflow-y: auto;
}

#popup-buttons {
	display: flex;
	justify-content: right;
	gap: 10px;
}

.form-wrapper {
	display: flex;
	align-items: center;
	padding: 3px 0px;
	height: 27px;
}

.form-name {
	width: 50px;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
}

.form-input {
	width: 200px;
	font-size: 14px;
	outline: none;
}

.form-button-main,
.form-button {
	padding: 2px 9px;
	height: 27px;
	font-size: 13px;
	line-height: 23px;
	border: 10px;
	border-radius: 3px;
	background-color: #ddd;
	cursor: pointer;
}

.form-button-main {
	color: #fff;
	background-color: #333;
}

#main {
	height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: pre;
}

.container {
	display: inline-block;
	height: 100%;
}

.wrapper {
	position: relative;
	padding: 40px 15px 10px;
	height: 100%;
	width: 250px;
	overflow: hidden;
	border-right: 1px solid #222;
}

.close-button,
.collapse-button {
	position: absolute;
	display: flex;
	top: 10px;
	height: 20px;
	width: 20px;
	align-items: center;
	justify-content: center;
	user-select: none;
	background-color: #ccc;
	border-radius: 3px;
	cursor: pointer;
}

.collapse-button {
	left: 10px;
}

.close-button {
	right: 10px;
}

.folder-title {
	position: absolute;
	top: 5px;
	left: 40px;
	right: 40px;
	padding: 0px 7px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	font-weight: 600;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
	cursor: pointer;
	border-radius: 3px;
}

.content {
	padding: 10px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.entry {
	display: block;
	padding-left: 5px;
	font-size: 12px;
	line-height: 20px;
	color: #222;
	text-decoration: none;
	cursor: pointer;
	border-radius: 3px;
}

.folder-title:hover,
.entry:hover,
.menu-target {
	background-color: #eee;
}

.collapse {
	width: 40px;
}

.collapse .collapse-button {
	transform: rotate(180deg);
}

.collapse .close-button,
.collapse .folder-title,
.collapse .dots-button,
.collapse .content {
	display: none;
}

.dragging {
	opacity: .5;
}

.menu {
	position: fixed;
	padding: 5px;
	width: 200px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.menu .item {
	font-size: 12px;
	line-height: 20px;
	border-radius: 3px;
	cursor: pointer;
}

.menu .item:hover {
	background-color: #eee;
}

.menu .partition {
	margin: 3px 0px;
}